{% extends "base.html" %}

{% block title %}
    Edit page
{% endblock %}

{% block link %}
<link rel="stylesheet" href="static/css/edit.css">
{% endblock %}

{% block content %}
<form action="/_edit" role="form" method="post">
    <div class="form-group">
        <label for="edit-text">Edit</label>
        <!--<textarea name="content" class="form-control" id="edit-text" rows="5">print articulo si existe en db o crea uno si no existe</textarea>-->
        <div contenteditable id="edit-text"></div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}