{% extends "base.html" %}

{% block title %}
    Edit page {{ title }}
{% endblock %}


{% block content %}
{% if new_page %}
    <form action="/_edit/{{ title }}" role="form" method="post">
        <div class="form-group">
            <label for="edit-text">Create html document for <em>{{ title }}</em></label>
            <textarea name="content" class="form-control edit-text" id="edit-text" placeholder="Write your html here"></textarea>
        </div>
        <input type="submit" class="btn btn-default" value="save">
    </form>
{% else %}
    <form action="/_edit/{{ title }}" role="form" method="post">
        <div class="form-group">
            <label for="edit-text">Edit html document for <em>{{ title }}</em></label>
            <textarea name="content" class="form-control edit-text" id="index-content">{{ content }}</textarea>
        </div>
        <input type="submit" class="btn btn-default" value="save">
    </form>
{% endif %}
{% endblock %}