<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <link rel="stylesheet" href="static/css/main.css">
    {% block link %}
    {% endblock %}
</head>
<body>
    <div class="jumbotron">
        <a href="/"><h1>EAR Wiki</h1></a>
        <p>Welcome to the most complete wiki on the web</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-8" id="top-navbar">
                {{ html }}
            </div>
        </div>
        {% block content %}

        {% endblock %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
    <script>


    </script>
    <script src="static/js/wiki.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>