{% extends "base.html" %}
{% block title%}
Login
{% endblock%}
{% block content %}
    <form action="/login" method="post">
        <label for="inputName" class="sr-only">Username</label>
        <input type="text" id="inputName" name="username" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" placeholder="Password" required>
        <input type="submit" value="Submit">
    </form>
{% endblock %}